.selection {
   width: 500px;
   height: 200px;
   background-color:tan; 
   border-radius: 6px;
   box-shadow: inset 0px 0px 10px #000000;
}

.selectionText {
   padding: 10px;
   color: #000000;
   font-family: Myriad Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;
}

.selectionColumns {
   width: 500px;
   margin: 10px;
}

.header-flex {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   align-self: flex-start;
   width: 80%;
}

.padding {
   padding: 0 .25rem 0 .25rem;
   text-align: center;
}

a:link, a:visited {
   text-decoration: none;
   color: blue;
}